AFIP_TESTING_PEM="-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----"

AFIP_TESTING_CUIT="33693450239"

AFIP_TESTING_KEY="-----BEGIN PRIVATE KEY-----
-----END PRIVATE KEY-----"

AFIP_PRODUCTION_PEM="-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----"

AFIP_PRODUCTION_CUIT="33693450239"

AFIP_PRODUCTION_KEY="-----BEGIN PRIVATE KEY-----
-----END PRIVATE KEY-----"

API_TOKEN=